{% extends 'base.html.twig' %}
<!DOCTYPE html>
<html>
<body>
{% block body %}
    <header class="hero is-primary is-medium">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="image" alt="FootballScoutingRomania">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                              <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class=" "></i>
                                    </span>
                                    <span>About Us</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class=""></i>
                                    </span>
                                    <span>Profiler Player</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class=""></i>
                                    </span>
                                    <span>Goalkeepers</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class=" "></i>
                                    </span>
                                    <span>Defenders</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class=""></i>
                                    </span>
                                    <span>Midfielders</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class=""></i>
                                    </span>
                                    <span> Strikers</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                 <a class="button is-rounded  is-grey is-outlined has-text-grey has-text-weight-bold">
                                            Sign in/up
                                 </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/dansup/bulma-templates/blob/master/templates/landing.html">
                                    <span class="icon">
                                        <i class=""></i>
                                    </span>
                                    <span>Contact</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!---  End Nav    --->
    <div class="hero is-primary">
        <div class="hero-body">
            <div class="container has-text-left">
                <div class="column is-6 is-offset-6">
                    <h2 class="subtitle  has-text-black">
                        Watch
                    </h2>

                    <h1 class="title is-1 is-size-3-mobile  has-text-black">
                        News
                    </h1>
                    <p></p>

                    <h2 class="is-4  has-text-black is-spaced">
                        A young player with great potential
                    </h2>
                    <p class="subtitle"></p>

                    <div class="buttons is-left transparent ">
                        <p class="button is-black is-rounded has-text-weight-bold">
                            the best playmaker
                        </p>
                        <p class="button is-black is-outlined is-rounded">
                            Rankings romanian players
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}<script async type="text/javascript" src="../js/bulma.js"></script>{% endblock %}

_ _ _

</body>
</html>

